<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>
         Domantas is a backend developer, also know as Dohxis. He is technology
         enthusiast, indie game developer and Linux fanboy! Most comfortable with PHP and Python programming languages,
          but have a good knowledge of
        languages like Javascript, C/C++ and Haxe.</p>
    </div>
    <!--//summary-->
</section>
<!--//section-->
