<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

    <div class="item">
        <span class="project-title"><a href="http://portumgame.com">Portum</a></span> - <span class="project-tagline">
          Long term project built with PHP and Laravel. It's browser based, community driven, social game,
          where you need to control and lead your own country to victory against others. Game is in
          closed beta stage and under heavy development.
        </span>
    </div>
    <!--//item-->
    
    <div class="item">
        <span class="project-title"><a href="https://github.com/Dohxis/Isnarpliok">Išnarpliok</a></span> - <span class="project-tagline">
          An educational app built in 48 hours at HackerGames Vilnius. "Išnarpliok" is built for Lithuanian students and schools to learn and practice programming. The product won first place.
        </span>
    </div>
    <!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://ludumdare.com/compo/ludum-dare-31/?action=preview&uid=41073">Coinarium</a></span> - <span class="project-tagline">
           First project for Ludum Dare 31. It’s a game where you need to collect coins and avoid enemies. It was made in 28 hours with Haxe and HaxeFlixel.
        </span>
    </div>
    <!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://ludumdare.com/compo/ludum-dare-32/?action=preview&uid=41073">Boxmagedon</a></span> - <span class="project-tagline">
           Game for Ludum Dare 32. It’s is a game where you need to destroy other boxes and collect batteries. It was made with Javascript and Phaser.
        </span>
    </div>
    <!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://ludumdare.com/compo/ludum-dare-33/?action=preview&uid=41073">Monstrada</a></span> - <span class="project-tagline">
           Game for Ludum Dare 32. It’s is a game where you need to destroy other boxes and collect batteries. It was made with Javascript and Phaser.
        </span>
    </div>
    <!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://ludumdare.com/compo/ludum-dare-34/?action=preview&uid=41073">Santa Rush</a></span> - <span class="project-tagline">
           Collaborative game made for Ludum Dare 34 with a team of three people. It's a game where you must to deliver presents to igloos as fast as possible.
        </span>
    </div>
    <!--//item-->

    <div class="item">
        <span class="project-title"><a href="http://ludumdare.com/compo/ludum-dare-35/?action=preview&uid=41073">Sezonia</a></span> - <span class="project-tagline">
           Web game made for Ludum Dare 35, where you need to win against red tiles and conquer the board. Game was built with PHP and Laravel in about 20 hours. 
        </span>
    </div>
    <!--//item-->


</section>
<!--//section-->
