<style>

    h1, h2, h3 {
        font-family: "Rubik","Poppins","sans-serif" !important;
    }

    h4 {
        font-family: "Rubik","Poppins","sans-serif" !important;
        color: white;
    }

    header {
        background-color: transparent;
    }

    header h1 {
        color: white;
        font-family: "Rubik","Poppins","sans-serif";
        text-transform: uppercase;
        font-size: 35px;
        width: 288px;
        margin-top: 0;
        line-height: 40px
    }

    .typed-cursor{
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
        color: white;
    }
    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }

    .typed {
        color: white;
        font-weight: 900;
    }

    nav {
        background-color: rgba(0, 0, 0, .2);
        color: white;
        box-shadow: none;
    }

    .nav-fixed {
        background-color: #009688;
    }

    nav div h3 a {
        color: white;  
    }

    nav div h3 a:hover {
        color: white;
        border-bottom: 4px solid white;   
    }

    .project-link:hover {
        color: white !important;
        border-bottom: 4px solid white;   
    }

    @media (max-width: 48em){
        nav div:not(:first-child):not(:last-child) {
            display: inherit;
        }
        nav div h3 {
            font-size: 20px;
        }
    }

    @media (max-width: 321px){
        nav div:not(:first-child):not(:last-child) {
            display: inherit;
        }
        nav div h3 {
            font-size: 15px;
        }
    }

    .bg {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        background: url('images/bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(10px);
        transform: scale(1.03);
    }

    .title {
        background-color: rgba(0, 0, 0, .5);
    }

    input[type="submit"]:hover {
        background-color: #009688;
    }

    .project-card {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .group img {
        margin: 5px;
    }

    .img-t {
        float: left;
        margin: 5px;
    }
    
</style>